<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>46439986389-8pthcfeijmo81a1mei9be9ths5dd4sn1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDN3MGJlNuD8xsWxZ02MpVRWlzTc7l6RNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>46439986389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OasisLiveStock.ZShops</string>
	<key>PROJECT_ID</key>
	<string>zabehaty-98bce</string>
	<key>STORAGE_BUCKET</key>
	<string>zabehaty-98bce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46439986389:ios:8a53fa179b82d354f31e5c</string>
	<key>DATABASE_URL</key>
	<string>https://zabehaty-98bce.firebaseio.com</string>
</dict>
</plist>